<div class="meal-card">
  <%= cl_image_tag recipe.recipe_photo.key, height: 300, width: 400, crop: :fill %>

  <div class="meal-card-info">
    <div class="meal-card-header">
      <div class="meal-card-header-text">
        <h2><%= recipe.title %></h2>
        <p>Preparation: <%= recipe.prep_time %> minutes</p>
        <p>Servings: <%= recipe.servings %></p>
      </div>

      <div class="meal-card-header-close">
        <button type="button" class="close-button" data-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-circle-fill"></i>
        </button>
      </div>
    </div>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-ingredients-tab" data-toggle="tab" href="#nav-ingredients" role="tab" aria-controls="nav-ingredients" aria-selected="true">Ingredients</a>
        <a class="nav-item nav-link" id="nav-instructions-tab" data-toggle="tab" href="#nav-instructions" role="tab" aria-controls="nav-instructions" aria-selected="false">Instructions</a>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-ingredients" role="tabpanel" aria-labelledby="nav-ingredients-tab">
        <% recipe.ingredients.each do |i| %>
          <li><%= i.description %></li>
        <% end %>
      </div>
      <div class="tab-pane fade" id="nav-instructions" role="tabpanel" aria-labelledby="nav-instructions-tab">
      <% recipe.instructions.split(".").each do |p| %>
        <li><%= p %></li>
      <% end %>
      </div>
    </div>
  </div>
</div>
