<h1>Página Index-Meals</h1>

<%=link_to "home", root_path%>

<%=link_to "Groceries List", profile_groceries_list_path(@user)%>

<div class="profile-container">

  <div class="timetable-card">
    <%= render "timetable" %>
  </div>

  <div class="meals-cards">
    <div class="meal-card" data-controller="drag-item">
      <% @user.meals.each do |meal| %>
        <div class="list-group-item">
        <%= cl_image_tag meal.recipe.recipe_photo.key, class:"meal-img" %>
          <div class="meal-card-text">
            <h4><strong><%= meal.recipe.title %> • <%= meal.recipe.servings %><i class="bi bi-people-fill"></i></strong></h4>
            <%# <p class="overflow-ellipsis"><%= movie.overview</p> %>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
