
<h1>Página Index-Meals</h1>
<%=@user.id%>
<%=@user.meals%>

<%=link_to "home", root_path%>

<%=link_to "groce", profile_groceries_list_path(@user)%>

<% @meals.each do |meal| %>
  <%= cl_image_tag meal.meal_photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
