<div class="footer">
  <%# <div class="footer-credits"> %>
    Created by:
    <%= link_to "Ana Clara Rizério", "https://www.linkedin.com/in/anarizerio/", target: '_blank', class: 'link-footer', margin: '5px' %>,
    <%= link_to "Caio Almeida", "https://www.linkedin.com/in/caio-almeida-b86b0915b/", target: '_blank', class: 'link-footer', margin: '5px' %>,
    <%= link_to "Gabriela Leite", "https://www.linkedin.com/in/gabrielanleite/", target: '_blank', class: 'link-footer', margin: '5px' %>,
    <%= link_to "Matheus Camargo", "https://www.linkedin.com/in/matheus-camargo-8265a5ba/", target: '_blank', class: 'link-footer', margin: '5px' %> and
    <%= link_to "Raphael Resende", "https://www.linkedin.com/in/raphael-resende-breitschaft-426685163/", target: '_blank', class: 'link-footer', margin: '5px' %>.
    <%= link_to "Check out our awesome code!", "https://github.com/raphael-rbbr/what_eat", target: '_blank', class: 'link-footer' %>
  <%# </div> %>
</div>
