<div class="profile-container">

  <h3>Página Index-Plan</h3>

  <%=link_to "home", root_path%>

  <%=link_to "Groceries List", profile_groceries_list_path(@user)%>

  <div class="meals-cards">

    <div class="timetable-card">
      <%= render "timetable" %>
    </div>

    <div>
      <h3><strong> Selected Meals for You! </strong></h3>
    </div>

    <div class="meal-card" data-controller="drag-item">
      <% @user.meals.each do |meal| %>
        <div  class="list-group-item">
              <%# data-toggle="modal"
              data-target="#exampleModalCenter"> %>

              <%# data-controller="meal-card"
              data-action="click->meal-card#open"> %>

          <%= cl_image_tag meal.recipe.recipe_photo.key, class:"meal-img" %>
          <div class="meal-card-text">
            <h4><strong><%= meal.recipe.title %> • <%= meal.recipe.servings %><i class="bi bi-people-fill"></i></strong></h4>

            <div  class="link-card">
              <%= link_to "Details", "/profile/meals/#{meal.id}" %>
              <button data-toggle="modal"
              data-target="#exampleModalCenter"> "Abrir"</button>
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render partial: "recipe", object: meal%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>

</div>

<%# <%= render partial: "show", locals: {recipe: Recipe.find_by(title: "Green Lemonade")}%> %>
