<div class="profile-container">

  <h3>Página Index-Plan</h3>

  <%=link_to "home", root_path%>

  <%=link_to "Groceries List", profile_groceries_list_path(@user)%>

  <div class="meals-cards">

    <div class="timetable-card">
      <%= render "timetable" %>
    </div>

    <div>
      <h3><strong> Selected Meals for You! </strong></h3>
    </div>

    <div class="meal-card" data-controller="drag-item">
      <% @user.meals.each do |meal| %>
        <div  class="list-group-item"

              data-controller="meal-card"
              data-action="click->meal-card#open">

          <%= cl_image_tag meal.recipe.recipe_photo.key, class:"meal-img" %>
          <div class="meal-card-text">
            <h4><strong><%= meal.recipe.title %> • <%= meal.recipe.servings %><i class="bi bi-people-fill"></i></strong></h4>

            <div  class="link-card"
                  data-toggle="modal"
                  data-target="#exampleModalCenter">
              <%= link_to "Details", "/profile/meals/#{meal.id}" %>
            </div>
            <%# <p class="overflow-ellipsis"><%= movie.overview</p> %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<%# <%= render partial: "show", locals: {recipe: Recipe.find_by(title: "Green Lemonade")} %>
