<div class="profile-container">

  <h3>Página Plan-Show</h3>

  <%=link_to "home", root_path%>

  <%=link_to "Groceries List", profile_groceries_list_path(@user)%>

  <div class="meals-cards">

    <div class="timetable-card">
      <%# incluir forma de puxar apenas os dados do plano atual pela data " , locals: { plan:  } " %>
      <%# <%= raise %>
      <%= render "timetable" %>
    </div>

    <div>
      <h3><strong> Selected Meals for You! </strong></h3>
    </div>

    <div class="recipe-cards-container" data-controller="drag-item" data-drag-item-target="recipeCardContainer">
      <% @user.recipes.each do |recipe| %>
        <div  class="list-group-item"

              <%# hooks para criar meal %>
              id="<%= recipe.id %>"
              data-drag-item-target="recipe"

              <%# hooks para modal-details %>
              data-controller="meal-card"
              data-action="click->meal-card#open">

          <%= cl_image_tag recipe.recipe_photo.key, class:"meal-img" %>
          <div class="meal-card-text">
            <h4><strong><%= recipe.title %> • <%= recipe.servings %><i class="bi bi-people-fill"></i></strong></h4>

            <div  class="link-card"
                  data-toggle="modal"
                  data-target="#exampleModalCenter">
              <%= link_to "Details", "/profile/recipes/#{recipe.id}" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<%# <%= render partial: "show", locals: {recipe: Recipe.find_by(title: "Green Lemonade")} %>
