<div class="profile-container">

  <h3>Página Plan-Show</h3>

  <%=link_to "home", root_path%>

  <%=link_to "Groceries List", profile_groceries_list_path(@user)%>

  <div class="meals-cards">

    <div class="timetable-card">
      <%# incluir forma de puxar apenas os dados do plano atual pela data " , locals: { plan:  } " %>
      <%= render "timetable" %>
    </div>

    <div>
      <h3><strong> Selected Meals for You! </strong></h3>
    </div>

    <div class="meal-card" data-controller="drag-item">
      <% @user.recipes.each do |recipe| %>
        <div  class="list-group-item"
              id="<%= recipe.id %>"
              data-drag-item-target="recipe"
              data-controller="meal-card"
              data-action="click->meal-card#open">

          <%= cl_image_tag recipe.recipe_photo.key, class:"meal-img" %>
          <div class="meal-card-text">
            <h4><strong><%= recipe.title %> • <%= recipe.servings %><i class="bi bi-people-fill"></i></strong></h4>

            <div  class="link-card"
                  data-toggle="modal"
                  data-target="#exampleModalCenter">
              <%= link_to "Details", "/profile/recipes/#{recipe.id}" %>
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render partial: "recipe", object: meal%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>

</div>

<%# <%= render partial: "show", locals: {recipe: Recipe.find_by(title: "Green Lemonade")}%> %>
