<div class="body-container">
  <div class="profile-details">
    <div class="profile-box details">
      <h3> Tell us about your preferences </h3>
      <div class="profile-specs">
        <div class="profile-photo">
          <% if current_user.profile_photo.valid? %>
            <%= cl_image_tag current_user.profile_photo.key, height: 200, width: 200, radius: 100, crop: :fill %>
          <% else %>
            <%= image_tag("profil.jpg", height: 200, width: 200, radius: 100, crop: :fill, class: "profile-pic") %>
          <% end %>
        </div>
      </div>
      <div class="profile-preferences">
        <div class="user-preferences-diet">
          <div class="user-edit">
            <h3>Diet type</h3>
            <button type="button" class="edit-button" data-toggle="modal" data-target="#exampleModal"><h3><i class="bi bi-pencil-square"></i></h3></button>
          </div>
          <h9><%= current_user.diet== nil ? "No diet" : current_user.diet.diet_type.capitalize.sub('_', ' ') %></h9>
        </div>
        <br><br>
        <div class="user-preferences-intolerances">
          <div class="user-edit">
            <h3>Intolerances</h3>
            <button type="button" class="edit-button" data-toggle="modal" data-target="#exampleModalIntolerances"><h3><i class="bi bi-pencil-square"></i></h3></button>
          </div>
          <% current_user.intolerances.each_with_index do |intolerance, i| %>
            <% if i==0 %>
              <h9><%= intolerance.intolerance_type.capitalize %></h9>
            <% else %>
              <h9>, <%= intolerance.intolerance_type.capitalize %></h9>
            <% end %>
          <% end %>
          <%= render "diet" %>
          <%= render "intolerances" %>
        </div>
      </div>
    </div>

    <div class="profile-box plans">
      <% if current_user.plans == [] %>
        <div class="profile-current-plans">
          <h3> You don't have any plans yet </h3>
          <button class="button-1"><%= link_to "Create a new plan", profile_plans_path, method: :post %></button>
          <h3></h3>
        </div>
      <% else %>
        <h3> Select your plan! </h3>
        <div class="profile-plans">
          <div class="profile-current-plans">
            <h3> Current Plan </h3>
            <%= link_to "#{Date.today.beginning_of_week} to #{Date.today.beginning_of_week+6}", "/profile/plans/#{@plans.last.id}", class: "nav-link" %>
          </div>
          <br><br>
          <div class="profile-old-plans">
            <h3> Old Plans </h3>
              <h9>You don't have old plans yet.</h9>
          </div>
        </div>
        <h3></h3>
      <% end %>
    </div>
  </div>

</div>
