<div class="body-container">

    <div class="user-preferences">
    <h3> Diet and intolerances </h3>
    <div class="user-preferences-diet">
      Diet type: <%= current_user.diet== nil ? "No diet" : current_user.diet.diet_type.capitalize.sub('_', ' ') %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Edit diet
      </button>
    </div>
    <div class="user-preferences-intolerances">
      Intolerances:
      <% current_user.intolerances.each_with_index do |intolerance, i| %>
        <% if i==0 %>
          <%= intolerance.intolerance_type.capitalize %>
        <% else %>
          , <%= intolerance.intolerance_type.capitalize %>
        <% end %>
      <% end %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalIntolerances">
        Edit intolerances
      </button>
    </div>
  </div>

  <%= render "diet" %>
  <%# <%= render "intolerances" %>

  <% if current_user.plans == [] %>
    <div>
      <h3> You don't have any plans yet </h3>

      <%= link_to "Create a new plan", profile_plans_path, method: :post %>
    </div>
  <% else %>
    <div>
      <h3> Select your plan! </h3>
      <div>
        <h3> Current Plan </h3>
        <ul>
          <li><%= link_to "Current Plan", "/profile/plans/#{@plans.last.id}", class: "nav-link" %></li>
                <%GroceriesList.create(user_id: current_user.id, plan_id: @plans.last.id)%>
        </ul>
      </div>

      <div>
        <h3> Old Plans </h3>

        <ul>
          <li>You don't have old plans yet.</li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
