<div>
  <% if current_user.plans == [] %>
    <div>
      <h3> You don't have any plans yet </h3>

      <%= simple_form_for(url: profile_plans_new_path(Plan.create!(start_date: Date.today, final_date: Date.today+7, user_id: current_user.id))) do |f| %>
        <%= f.error_notification %>

        <div class="new-lists">

          <h3>New plan</h3>

          <div class="inputs">
            <div class="form-inputs">
              <%= f.input select_datetime Date.today, :prefix => :start_date %>
            </div>
          </div>
        </div>
      <% end %>
      <%# <%= link_to "Create a new plan", Plan.create!(start_date: Date.today, final_date: Date.today+7, user_id: current_user.id)%> %>
    </div>
  <% else %>
    <div>
      <h3> Select your plan! </h3>
      <div>
        <h3> Current Plan </h3>
        <ul>
          <%# precisamos ajustar de forma a criar lista para planos anteriores e plano atual
          por enquanto, fiz um link "forçado" para único plano disponível %>
          <li><%= link_to "Current Plan", "/profile/plans/#{@plans.last.id}", class: "nav-link" %></li>
        </ul>
      </div>

      <div>
        <h3> Old Plans </h3>

        <ul>
          <li>Placeholder</li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
