<div class="body-container">
  <div class="list-content">
    <div class="list-header">
      <h1>Groceries List</h1>
      <h6>Plan from <strong><%="#{Date.today.beginning_of_week.strftime('%d')} #{Date.today.beginning_of_week.strftime('%b')} #{Date.today.beginning_of_week.strftime('%y')}"%></strong>  to <strong><%="#{(Date.today.beginning_of_week+6).strftime('%d')} #{(Date.today.beginning_of_week+6).strftime('%b')} #{(Date.today.beginning_of_week+6).strftime('%y')}"%></strong></h6>
    </div>

    <div class="list-box">
      <% @ingredient_sum.each do |ingredient| %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label groceries_item" for="flexCheckDefault">
            <li><h9><%=ingredient[0].capitalize%></h9></li>
            <span class="divider"></span>
            <li><h9><%=ingredient[1]%> <%=(Ingredient.find_by(name: ingredient[0])).unit%></h9></li>
          </label>
        </div>
      <%end%>
    </div>
  </div>
</div>
